{% extends 'layout.html' %} 

{% load static %}

{% block title %}Morea | Home{% endblock %}

{% block stylesCustom %}
  <link rel="stylesheet" href="{% static 'updates/css/updates.css' %}" />
{% endblock %}
  
{% block content %}
<div class="containerUpdates">

  <h1 class="nome_inicial">Novidades do projeto</h1>

  <div class="container_infos">
    <div class="container_rubens">
      <img src="{% static 'assets/images/avatar-image.png' %}" alt="">
      <div class="container_dados">
    
        <div class="container_info">
        </p>
          <span class="names">Rubens Matos</span> 
          <span class="dev"> ORIENTADOR </span>
           Mar 14, 2023
          <span> Vo.16</span>
        </p>
        </div>
        <p id="msg_rubens"> Foi recebido um pacote de verbas, que 
          contribuirá para o desenvolvimento do projeto</p>
      </div>
    </div>

      <div class="container_felipe">
      <img src="{% static 'assets/images/avatar-image.png' %}" alt="">
        <div class="container_dados2">
      
          <div class="container_info2">
            <p>
              <span class="names"> Felipe Carvalho</span>
              <span class="dev"> DESENVOLVEDOR</span>
              Mar 14, 2023
              <span>Vo.16</span>
            </p>
          </div>
          <p id="msg_felipe"> Foram adicionadas melhorias na geração de gráficos e tabelas,
             incrementos de performance e outras melhorias visuais.</p>
        </div>
      </div>
    
      <div class="container_lay">
      <img src="{% static 'assets/images/avatar-image.png' %}" alt="">
        <div class="container_dados3">
      
          <div class="container_info3">
            <p>
              <span class="names">Layane Amorim</span>
              <span class="dev">DESENVOLVEDOR</span>
              Mar 14, 2023
              <span>Vo.16</span>
            </p>
          
          </div>
          <p id="msg_lay"> Foram adicionadas melhorias na geração de gráficos e tabelas,
            incrementos de performance e outras melhorias visuais.</p>
        </div>
    </div>
  </div>
</div>



{% endblock %}


<!-- STATIC -> {% static 'assets/images/avatar-image.png' %}-->

